<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{ folder }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Rechercher une graine</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar show-clear-button="always" clear-icon="trash-bin"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
  </div>
</ion-content>
