<div class="row">
  <div class="col-12 col-lg-6">
        <div *ngIf="scannerEnabled" style="display:flex;">
            <ion-button style="margin-right: 25px;" fill="outline" size="small" color="success" (click)="enableScanner()">
                <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
                Précédent
            </ion-button>
            <h3 *ngIf="zoomType == 'QR'" class="kt-portlet__head-title">
                Zoom sur le QR Code
            </h3>
            <h3 *ngIf="zoomType == 'BARCODE'" class="kt-portlet__head-title">
                Zoom sur le code-barre
            </h3>
        </div>
        <p *ngIf="scannerEnabled && this.cameras.length > 0">
            Vue de {{this.cameras[0].label}}
        </p>
        <zxing-scanner *ngIf="scannerEnabled" #scanner 
            (scanSuccess)="scanSuccessHandler($event)"
            (camerasFound)="camerasFoundHandler($event)"
            (camerasNotFound)="camerasNotFoundHandler($event)"
        >
        </zxing-scanner>
        <div class="row" *ngIf="!scannerEnabled">
        <ion-button fill="outline" size="large" color="dark" (click)="scanQR()">
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
            Scan QR Code
        </ion-button>
        <ion-button fill="outline" size="large" color="dark" (click)="scanBarCode()">
            <ion-icon slot="start" name="star" name="barcode-outline"></ion-icon>
            Scan Code barre
        </ion-button>
        <ion-button (click)="enableScanner()" *ngIf="!scannerEnabled && scanSuccess" type="button" color="medium">Réessayer</ion-button>
        </div>
  </div>

    <div *ngIf="" class="col-12 col-lg-6">
        <h3>Information lue</h3>
        <h3 *ngIf="zoomType == 'BARCODE'">
            {{information}}
        </h3>
        <a *ngIf="zoomType == 'QR'" href="{{information}}">
        Accéder au lien
        </a>
    </div>

</div>